/*
 * File: style.css
 * Project: Button
 * File Created: Saturday, 30th March 2024 9:14:54 pm
 * Author: Gurruprasad BR (you@you.you)
 * -----
 * Last Modified: Tuesday, 9th April 2024 7:39:30 pm
 * Modified By: Guruprasad BR (you@you.you>)
 */



*{
   color: white;
   background-color: rgb(7, 7, 183);
   border:solid 2px rgb(96, 96, 148);
   cursor: pointer;
}

